In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [37]:
vehicles_2018 = pd.read_csv('databases/vehicles_involved/csv/2018_accidents_vehicles_gu_bcn_.csv')

In [81]:
vehicles_2018.columns

Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_vianant',
       'Descripcio_tipus_vehicle', 'Descripcio_model', 'Descripcio_marca',
       'Descripcio_color', 'Descripcio_carnet', 'Antiguitat_carnet',
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

In [84]:
len(vehicles_2018.columns)

28

In [38]:
vehicles_2017 = pd.read_excel('databases/vehicles_involved/excel/2017_accidents_vehicles_gu_bcn_.xlsx')

In [88]:
vehicles_2017.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [93]:
len(vehicles_2017.columns)

27

In [39]:
vehicles_2016 = pd.read_excel('databases/vehicles_involved/excel/2016_accidents_vehicles_gu_bcn_.xlsx')

In [97]:
vehicles_2016.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [41]:
vehicles_2015 = pd.read_excel('databases/vehicles_involved/excel/2015_accidents_vehicles_gu_bcn_2015.xlsx')

In [102]:
vehicles_2015.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [103]:
len(vehicles_2015.columns)

25

In [42]:
vehicles_2014 = pd.read_excel('databases/vehicles_involved/excel/2014_accidents_vehicles_gu_bcn_2014.xlsx')

In [107]:
vehicles_2014.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [109]:
len(vehicles_2014.columns)

25

In [43]:
vehicles_2013 = pd.read_excel('databases/vehicles_involved/excel/2013_accidents_vehicles_gu_bcn_2013.xlsx')

In [112]:
vehicles_2013.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [44]:
vehicles_2012 = pd.read_excel('databases/vehicles_involved/excel/2012_accidents_vehicles_gu_bcn_2012.xlsx')

In [116]:
vehicles_2012.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [46]:
vehicles_2011 = pd.read_excel('databases/vehicles_involved/excel/2011_accidents_vehicles_gu_bcn_2011.xlsx')

In [119]:
vehicles_2011.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [47]:
vehicles_2010 = pd.read_excel('databases/vehicles_involved/excel/2010_accidents_vehicles_gu_bcn_2010.xlsx')

In [121]:
vehicles_2010.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [ ]:
# merge all vehicles_YYYY into one data set

In [122]:
vehicles = pd.concat([vehicles_2010, vehicles_2011, vehicles_2012, vehicles_2013, vehicles_2014, vehicles_2015, vehicles_2016, vehicles_2017, vehicles_2018], sort=False, ignore_index=True)

In [128]:
vehicles.columns

Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle',
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color',
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X', 'Longitud', 'Latitud', 'Descripcio_torn'],
      dtype='object')

In [131]:
vehicles.drop(['Longitud', 'Latitud', 'Descripcio_torn'], axis=1, inplace=True)

In [134]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166552 entries, 0 to 166551
Data columns (total 25 columns):
Codi_expedient              166551 non-null object
Codi_districte              166552 non-null object
Nom_districte               166552 non-null object
Codi_barri                  166552 non-null object
Nom_barri                   166552 non-null object
Codi_carrer                 166552 non-null object
Nom_carrer                  166552 non-null object
Num_postal                  152576 non-null object
Descripcio_dia_setmana      166552 non-null object
Dia_setmana                 166552 non-null object
Descripcio_tipus_dia        166552 non-null object
NK_Any                      166552 non-null int64
Mes_any                     166552 non-null int64
Nom_mes                     166552 non-null object
Dia_mes                     166552 non-null int64
Hora_dia                    166552 non-null int64
Descripcio_causa_vianant    166552 non-null object
Descripcio_tipus_vehicle    166551 non-null object
Descripcio_model            166511 non-null object
Descripcio_marca            166551 non-null object
Descripcio_color            166551 non-null object
Descripcio_carnet           166551 non-null object
Antiguitat_carnet           166551 non-null object
Coordenada_UTM_Y            166545 non-null object
Coordenada_UTM_X            166545 non-null object
dtypes: int64(4), object(21)
memory usage: 31.8+ MB

In [137]:
vehicles.head()

,Codi_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Hora_dia,Descripcio_causa_vianant,Descripcio_tipus_vehicle,Descripcio_model,Descripcio_marca,Descripcio_color,Descripcio_carnet,Antiguitat_carnet,Coordenada_UTM_Y,Coordenada_UTM_X
0,2010S002961,7,Horta-Guinardó,34,Can Baró,170601,José Millán González,0034 0034,Divendres,Dv,...,23,Creuar per fora pas de vianants,Turismo,GOLF,VOLKSWAGEN,Desconegut,B,3,"4585536,52","429863,89"
1,2010S003114,8,Nou Barris,53,la Trinitat Nova,4409,Aiguablava,0026 0026,Divendres,Dv,...,15,No és causa del vianant,Ciclomotor,YR,YAMAHA,Negre,AM,1,"4589093,65","431789,16"
2,2010S001244,3,Sants-Montjuïc,11,el Poble Sec,701266,Litoral (Llobregat),001380000,Divendres,Dv,...,15,No és causa del vianant,Furgoneta,BERLINGO,CITROEN,Blanc,B,9,"4578885,90","429949,38"
3,2010S001244,3,Sants-Montjuïc,11,el Poble Sec,701266,Litoral (Llobregat),001380000,Divendres,Dv,...,15,No és causa del vianant,Taxi,TOLEDO,SEAT,Altres,BTP,16,"4578885,90","429949,38"
4,2010S001421,2,Eixample,5,el Fort Pienc,325005,Sicília,0159 0159,Divendres,Dv,...,14,No és causa del vianant,Furgoneta,TRANSIT,FORD,Blanc,B,5,"4583562,68","431291,81"

In [139]:
vehicles.drop(['Dia_setmana', 'Num_postal ', 'Dia_setmana'], axis=1, inplace=True)

In [141]:
vehicles.head()

,Codi_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Descripcio_dia_setmana,Descripcio_tipus_dia,NK_Any,...,Hora_dia,Descripcio_causa_vianant,Descripcio_tipus_vehicle,Descripcio_model,Descripcio_marca,Descripcio_color,Descripcio_carnet,Antiguitat_carnet,Coordenada_UTM_Y,Coordenada_UTM_X
0,2010S002961,7,Horta-Guinardó,34,Can Baró,170601,José Millán González,Divendres,Laboral,2010,...,23,Creuar per fora pas de vianants,Turismo,GOLF,VOLKSWAGEN,Desconegut,B,3,"4585536,52","429863,89"
1,2010S003114,8,Nou Barris,53,la Trinitat Nova,4409,Aiguablava,Divendres,Laboral,2010,...,15,No és causa del vianant,Ciclomotor,YR,YAMAHA,Negre,AM,1,"4589093,65","431789,16"
2,2010S001244,3,Sants-Montjuïc,11,el Poble Sec,701266,Litoral (Llobregat),Divendres,Laboral,2010,...,15,No és causa del vianant,Furgoneta,BERLINGO,CITROEN,Blanc,B,9,"4578885,90","429949,38"
3,2010S001244,3,Sants-Montjuïc,11,el Poble Sec,701266,Litoral (Llobregat),Divendres,Laboral,2010,...,15,No és causa del vianant,Taxi,TOLEDO,SEAT,Altres,BTP,16,"4578885,90","429949,38"
4,2010S001421,2,Eixample,5,el Fort Pienc,325005,Sicília,Divendres,Laboral,2010,...,14,No és causa del vianant,Furgoneta,TRANSIT,FORD,Blanc,B,5,"4583562,68","431291,81"

In [142]:
vehicles.to_excel('vehicles_db.xlsx')