In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [37]:
vehicles_2018 = pd.read_csv('databases/vehicles_involved/csv/2018_accidents_vehicles_gu_bcn_.csv')

In [81]:
vehicles_2018.columns

Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_vianant',
       'Descripcio_tipus_vehicle', 'Descripcio_model', 'Descripcio_marca',
       'Descripcio_color', 'Descripcio_carnet', 'Antiguitat_carnet',
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

In [84]:
len(vehicles_2018.columns)

28

In [38]:
vehicles_2017 = pd.read_excel('databases/vehicles_involved/excel/2017_accidents_vehicles_gu_bcn_.xlsx')

In [88]:
vehicles_2017.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [93]:
len(vehicles_2017.columns)

27

In [39]:
vehicles_2016 = pd.read_excel('databases/vehicles_involved/excel/2016_accidents_vehicles_gu_bcn_.xlsx')

In [97]:
vehicles_2016.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [41]:
vehicles_2015 = pd.read_excel('databases/vehicles_involved/excel/2015_accidents_vehicles_gu_bcn_2015.xlsx')

In [102]:
vehicles_2015.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [103]:
len(vehicles_2015.columns)

25

In [42]:
vehicles_2014 = pd.read_excel('databases/vehicles_involved/excel/2014_accidents_vehicles_gu_bcn_2014.xlsx')

In [107]:
vehicles_2014.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [109]:
len(vehicles_2014.columns)

25

In [43]:
vehicles_2013 = pd.read_excel('databases/vehicles_involved/excel/2013_accidents_vehicles_gu_bcn_2013.xlsx')

In [112]:
vehicles_2013.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [44]:
vehicles_2012 = pd.read_excel('databases/vehicles_involved/excel/2012_accidents_vehicles_gu_bcn_2012.xlsx')

In [116]:
vehicles_2012.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [46]:
vehicles_2011 = pd.read_excel('databases/vehicles_involved/excel/2011_accidents_vehicles_gu_bcn_2011.xlsx')

In [119]:
vehicles_2011.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [47]:
vehicles_2010 = pd.read_excel('databases/vehicles_involved/excel/2010_accidents_vehicles_gu_bcn_2010.xlsx')

In [121]:
vehicles_2010.columns = ['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle', 
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color', 
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [ ]:
# merge all vehicles_YYYY into one data set

In [122]:
vehicles = pd.concat([vehicles_2010, vehicles_2011, vehicles_2012, vehicles_2013, vehicles_2014, vehicles_2015, vehicles_2016, vehicles_2017, vehicles_2018], sort=False, ignore_index=True)

In [128]:
vehicles.columns

Index(['Codi_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_causa_vianant', 'Descripcio_tipus_vehicle',
       'Descripcio_model', 'Descripcio_marca', 'Descripcio_color',
       'Descripcio_carnet', 'Antiguitat_carnet', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X', 'Longitud', 'Latitud', 'Descripcio_torn'],
      dtype='object')

In [131]:
vehicles.drop(['Longitud', 'Latitud', 'Descripcio_torn'], axis=1, inplace=True)

In [134]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166552 entries, 0 to 166551
Data columns (total 25 columns):
Codi_expedient              166551 non-null object
Codi_districte              166552 non-null object
Nom_districte               166552 non-null object
Codi_barri                  166552 non-null object
Nom_barri                   166552 non-null object
Codi_carrer                 166552 non-null object
Nom_carrer                  166552 non-null object
Num_postal                  152576 non-null object
Descripcio_dia_setmana      166552 non-null object
Dia_setmana                 166552 non-null object
Descripcio_tipus_dia        166552 non-null object
NK_Any                      166552 non-null int64
Mes_any                     166552 non-null int64
Nom_mes                     166552 non-null object
Dia_mes                     166552 non-null int64
Hora_dia                    166552 non-null int64
Descripcio_causa_vianant    166552 non-null object
Descripcio_tipus_vehicle    166551 non-null object
Descripcio_model            166511 non-null object
Descripcio_marca            166551 non-null object
Descripcio_color            166551 non-null object
Descripcio_carnet           166551 non-null object
Antiguitat_carnet           166551 non-null object
Coordenada_UTM_Y            166545 non-null object
Coordenada_UTM_X            166545 non-null object
dtypes: int64(4), object(21)
memory usage: 31.8+ MB

In [137]:
vehicles.head()

,Codi_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Hora_dia,Descripcio_causa_vianant,Descripcio_tipus_vehicle,Descripcio_model,Descripcio_marca,Descripcio_color,Descripcio_carnet,Antiguitat_carnet,Coordenada_UTM_Y,Coordenada_UTM_X
0,2010S002961,7,Horta-Guinardó,34,Can Baró,170601,José Millán González,0034 0034,Divendres,Dv,...,23,Creuar per fora pas de vianants,Turismo,GOLF,VOLKSWAGEN,Desconegut,B,3,"4585536,52","429863,89"
1,2010S003114,8,Nou Barris,53,la Trinitat Nova,4409,Aiguablava,0026 0026,Divendres,Dv,...,15,No és causa del vianant,Ciclomotor,YR,YAMAHA,Negre,AM,1,"4589093,65","431789,16"
2,2010S001244,3,Sants-Montjuïc,11,el Poble Sec,701266,Litoral (Llobregat),001380000,Divendres,Dv,...,15,No és causa del vianant,Furgoneta,BERLINGO,CITROEN,Blanc,B,9,"4578885,90","429949,38"
3,2010S001244,3,Sants-Montjuïc,11,el Poble Sec,701266,Litoral (Llobregat),001380000,Divendres,Dv,...,15,No és causa del vianant,Taxi,TOLEDO,SEAT,Altres,BTP,16,"4578885,90","429949,38"
4,2010S001421,2,Eixample,5,el Fort Pienc,325005,Sicília,0159 0159,Divendres,Dv,...,14,No és causa del vianant,Furgoneta,TRANSIT,FORD,Blanc,B,5,"4583562,68","431291,81"

In [139]:
vehicles.drop(['Dia_setmana', 'Num_postal ', 'Dia_setmana'], axis=1, inplace=True)

In [145]:
vehicles.tail()

,Codi_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Descripcio_dia_setmana,Descripcio_tipus_dia,NK_Any,...,Hora_dia,Descripcio_causa_vianant,Descripcio_tipus_vehicle,Descripcio_model,Descripcio_marca,Descripcio_color,Descripcio_carnet,Antiguitat_carnet,Coordenada_UTM_Y,Coordenada_UTM_X
166547,2018S006251,10,Sant Martí,73,la Verneda i la Pau,150852,Fernando de los Ríos ...,Dilluns,Laboral,2018,...,23,No és causa del vianant,Turisme,VECTRA,OPEL,Platejat,Desconegut,Desconegut,4.58631e+06,433930
166548,2018S006492,10,Sant Martí,73,la Verneda i la Pau,153205,Guipúscoa ...,Diumenge,Laboral,2018,...,23,No és causa del vianant,Turisme,307,PEUGEOT,Gris,B,1,4.58598e+06,433522
166549,2018S006492,10,Sant Martí,73,la Verneda i la Pau,153205,Guipúscoa ...,Diumenge,Laboral,2018,...,23,No és causa del vianant,Turisme,C4,CITROEN,Negre,B,24,4.58598e+06,433522
166550,2018S006492,10,Sant Martí,73,la Verneda i la Pau,153205,Guipúscoa ...,Diumenge,Laboral,2018,...,23,No és causa del vianant,Turisme,MINI COOPER,MINI,Desconegut,Desconegut,Desconegut,4.58598e+06,433522
166551,2018S009754,10,Sant Martí,73,la Verneda i la Pau,153205,Guipúscoa / Maresme ...,Dijous,Laboral,2018,...,23,No és causa del vianant,Turisme,A4,AUDI,Vermell,B,29,4.58602e+06,433562

In [142]:
vehicles.to_excel('vehicles_db.xlsx')

In [143]:
people_2018 = pd.read_csv('databases/people_involved/2018_accidents_persones_gu_bcn_.csv')

In [146]:
people_2018.columns

Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_ Any', 'Mes_ any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn',
       'Hora_dia', 'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Edat', 'Descripcio_tipus_persona',
       'Descripcio_situacio', 'Descripcio_victimitzacio', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud'],
      dtype='object')

In [198]:
people_2018.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn',
       'Hora_dia', 'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Edat', 'Descripcio_tipus_persona',
       'Descripcio_situacio', 'Descripcio_victimitzacio', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [163]:
len(people_2018.columns)

28

In [147]:
people_2017 = pd.read_excel('databases/people_involved/2017_accidents_persones_gu_bcn_.xlsx')

In [199]:
people_2017.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn',
       'Hora_dia', 'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Edat', 'Descripcio_tipus_persona',
       'Descripcio_situacio', 'Descripcio_victimitzacio', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [153]:
people_2016 = pd.read_excel('databases/people_involved/2016_accidents_persones_gu_bcn_.xlsx')

In [200]:
people_2016.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn',
       'Hora_dia', 'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Edat', 'Descripcio_tipus_persona',
       'Descripcio_situacio', 'Descripcio_victimitzacio', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [169]:
people_2015 = pd.read_excel('databases/people_involved/2015_ACCIDENTS_PERSONES_GU_BCN_2015.xlsx')

In [201]:
people_2015.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [172]:
people_2014 = pd.read_excel('databases/people_involved/2014_ACCIDENTS_PERSONES_GU_BCN_2014.xlsx')

In [173]:
people_2014.columns

Index(['Número d'expedient', 'Codi districte', 'Nom districte', 'Codi barri',
       'Nom barri', 'Codi carrer', 'Nom carrer', 'Num postal caption',
       'Descripció dia setmana', 'Dia setmana', 'Descripció tipus dia',
       'NK Any', 'Mes de any', 'Nom mes', 'Dia de mes', 'Hora de dia',
       'Descripció causa vianant', 'Desc. Tipus vehicle implicat',
       'Descripció sexe', 'Descripció tipus persona', 'Edat',
       'Descripció victimització', 'Coordenada UTM (Y)', 'Coordenada UTM (X)'],
      dtype='object')

In [202]:
people_2014.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [175]:
people_2013 = pd.read_excel('databases/people_involved/2013_ACCIDENTS_PERSONES_GU_BCN_2013.xlsx')

In [203]:
people_2013.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn', 'Hora_dia', 
       'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [180]:
people_2012 = pd.read_excel('databases/people_involved/2012_ACCIDENTS_PERSONES_GU_BCN_2012.xlsx')

In [204]:
people_2012.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn', 'Hora_dia', 
       'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [185]:
people_2011 = pd.read_excel('databases/people_involved/2011_ACCIDENTS_PERSONES_GU_BCN_2011.xlsx')

In [205]:
people_2011.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn', 'Hora_dia', 
       'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [190]:
people_2010 = pd.read_excel('databases/people_involved/2010_ACCIDENTS_PERSONES_GU_BCN_2010.xlsx')

In [206]:
people_2010.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn', 'Hora_dia', 
       'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada_UTM_Y', 'Coordenada_UTM_X']

In [207]:
people = pd.concat([people_2010,people_2011,people_2012,people_2013,people_2014,people_2015,people_2016,people_2017,people_2018],sort=False, ignore_index=True)

In [211]:
people.columns

Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Descripcio_torn',
       'Hora_dia', 'Descripcio_causa_vianant', 'Desc_Tipus_vehicle_implicat',
       'Descripcio_sexe', 'Descripcio_tipus_persona', 'Edat',
       'Descripcio_victimitzacio', 'Coordenada_UTM_Y', 'Coordenada_UTM_X',
       'Descripcio_situacio', 'Longitud', 'Latitud'],
      dtype='object')

In [216]:
people.head()

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Desc_Tipus_vehicle_implicat,Descripcio_sexe,Descripcio_tipus_persona,Edat,Descripcio_victimitzacio,Coordenada_UTM_Y,Coordenada_UTM_X,Descripcio_situacio,Longitud,Latitud
0,2010S000001,2,Eixample,7,la Dreta de l'Eixample,335100,Tetuan,0030 0030,Divendres,Dv,...,Motocicleta,Home,Conductor,30,Ferit lleu,"4583198,28","431179,27",NaN,NaN,NaN
1,2010S000001,2,Eixample,7,la Dreta de l'Eixample,335100,Tetuan,0030 0030,Divendres,Dv,...,Motocicleta,Home,Conductor,39,Ferit lleu,"4583198,28","431179,27",NaN,NaN,NaN
2,2010S000002,2,Eixample,5,el Fort Pienc,76807,Sardenya,0242 0242,Divendres,Dv,...,Ciclomotor,Home,Conductor,39,Ferit lleu,"4583631,60","431444,51",NaN,NaN,NaN
3,2010S000005,9,Sant Andreu,61,la Sagrera,209900,Meridiana,0315 0315,Divendres,Dv,...,Motocicleta,Home,Conductor,34,Ferit lleu,"4586479,84","432062,05",NaN,NaN,NaN
4,2010S000006,10,Sant Martí,67,la Vila Olímpica del Poblenou,62609,Icària,0135 0135,Divendres,Dv,...,Turismo,Dona,Conductor,32,Ferit lleu,"4582584,02","432826,97",NaN,NaN,NaN

In [213]:
people.isna().sum()

Numero_expedient                   0
Codi_districte                     1
Nom_districte                      1
Codi_barri                         1
Nom_barri                          1
Codi_carrer                        1
Nom_carrer                        12
Num_postal                      7277
Descripcio_dia_setmana             0
Dia_setmana                        1
Descripcio_tipus_dia               1
NK_Any                             1
Mes_any                            1
Nom_mes                            1
Dia_mes                            1
Descripcio_torn                23167
Hora_dia                           1
Descripcio_causa_vianant           0
Desc_Tipus_vehicle_implicat        1
Descripcio_sexe                    1
Descripcio_tipus_persona           1
Edat                               1
Descripcio_victimitzacio           1
Coordenada_UTM_Y                  18
Coordenada_UTM_X                  18
Descripcio_situacio            66709
Longitud                       66709
Latitud                        66709
dtype: int64

In [219]:
people.drop(['Num_postal','Descripcio_torn','Descripcio_situacio','Longitud','Latitud'],axis=1,inplace=True)

In [220]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102783 entries, 0 to 102782
Data columns (total 23 columns):
Numero_expedient               102783 non-null object
Codi_districte                 102782 non-null object
Nom_districte                  102782 non-null object
Codi_barri                     102782 non-null object
Nom_barri                      102782 non-null object
Codi_carrer                    102782 non-null object
Nom_carrer                     102771 non-null object
Descripcio_dia_setmana         102783 non-null object
Dia_setmana                    102782 non-null object
Descripcio_tipus_dia           102782 non-null object
NK_Any                         102782 non-null float64
Mes_any                        102782 non-null float64
Nom_mes                        102782 non-null object
Dia_mes                        102782 non-null float64
Hora_dia                       102782 non-null float64
Descripcio_causa_vianant       102783 non-null object
Desc_Tipus_vehicle_implicat    102782 non-null object
Descripcio_sexe                102782 non-null object
Descripcio_tipus_persona       102782 non-null object
Edat                           102782 non-null object
Descripcio_victimitzacio       102782 non-null object
Coordenada_UTM_Y               102765 non-null object
Coordenada_UTM_X               102765 non-null object
dtypes: float64(4), object(19)
memory usage: 18.0+ MB

In [221]:
people.to_excel('people_db.xlsx')

In [222]:
cause_2018 = pd.read_csv('databases/accident_cause/2018_accidents_causes_gu_bcn_.csv')

In [231]:
cause_2018.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [225]:
cause_2017 = pd.read_excel('databases/accident_cause/2017_accidents_causes_gu_bcn_.xlsx')

In [230]:
cause_2017.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Carrer_Original',
       'Num_postal', 'Descripcio_dia_setmana', 'Dia_setmana', 
       'Descripcio_tipus_dia', 'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 
       'Hora_dia', 'Descripcio_torn', 'Descripcio_causa_mediata', 
       'Coordenada_UTM_X', 'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [236]:
cause_2016 = pd.read_excel('databases/accident_cause/2016_accidents_causes_gu_bcn_.xlsx')

In [238]:
cause_2016.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_X', 
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [233]:
cause_2015 = pd.read_excel('databases/accident_cause/2015_ACCIDENTS_CAUSES_GU_BCN_2015.xlsx')

In [235]:
cause_2015.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_Y', 
       'Coordenada_UTM_X']

In [239]:
cause_2014 = pd.read_excel('databases/accident_cause/2014_ACCIDENTS_CAUSES_GU_BCN_2014.xlsx')

In [241]:
cause_2014.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_Y', 
       'Coordenada_UTM_X']

In [242]:
cause_2013 = pd.read_excel('databases/accident_cause/2013_ACCIDENTS_CAUSES_GU_BCN_2013.xlsx')

In [244]:
cause_2013.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_Y', 
       'Coordenada_UTM_X']

In [245]:
cause_2012 = pd.read_excel('databases/accident_cause/2012_ACCIDENTS_CAUSES_GU_BCN_2012.xlsx')

In [247]:
cause_2012.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_Y', 
       'Coordenada_UTM_X']

In [248]:
cause_2011 = pd.read_excel('databases/accident_cause/2011_ACCIDENTS_CAUSES_GU_BCN_2011.xlsx')

In [250]:
cause_2011.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_Y', 
       'Coordenada_UTM_X']

In [251]:
cause_2010 = pd.read_excel('databases/accident_cause/2010_ACCIDENTS_CAUSES_GU_BCN_2010.xlsx')

In [254]:
cause_2010.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia', 
       'Descripcio_torn', 'Descripcio_causa_mediata', 'Coordenada_UTM_Y', 
       'Coordenada_UTM_X']

In [255]:
cause = pd.concat([cause_2010,cause_2011,cause_2012,cause_2013,cause_2014,cause_2015,cause_2016,cause_2017,cause_2018],sort=False, ignore_index=True)

In [257]:
cause.head()

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Descripcio_causa_mediata,Coordenada_UTM_Y,Coordenada_UTM_X,Longitud,Latitud,Carrer_Original
0,2010S006971,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,346402,Trinxant,0090 0090,Dijous,Dj,...,Octubre,14,20,Tarda,No hi ha causa mediata,4.5854e+06,431941,NaN,NaN,NaN
1,2010S000574,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,161407,Ind£stria,0253 0253,Dilluns,Dl,...,Gener,25,7,Mat¡,No hi ha causa mediata,4.58516e+06,431472,NaN,NaN,NaN
2,2010S004580,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,161407,Ind£stria,0223 0225,Dijous,Dj,...,Juliol,1,20,Tarda,No hi ha causa mediata,4.58503e+06,431348,NaN,NaN,NaN
3,2010S002999,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,297001,Sant Antoni Maria Claret,0270 0270,Dilluns,Dl,...,Maig,3,7,Mat¡,No hi ha causa mediata,4.5851e+06,431274,NaN,NaN,NaN
4,2010S007227,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,134801,Freser,0007 0007,Dilluns,Dl,...,Octubre,25,9,Mat¡,No hi ha causa mediata,4.5848e+06,431492,NaN,NaN,NaN

In [263]:
cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86832 entries, 0 to 86831
Data columns (total 23 columns):
Numero_expedient            86832 non-null object
Codi_districte              86832 non-null object
Nom_districte               86832 non-null object
Codi_barri                  86832 non-null object
Nom_barri                   86832 non-null object
Codi_carrer                 86832 non-null object
Nom_carrer                  86832 non-null object
Num_postal                  82034 non-null object
Descripcio_dia_setmana      86832 non-null object
Dia_setmana                 86832 non-null object
Descripcio_tipus_dia        86832 non-null object
NK_Any                      86832 non-null int64
Mes_any                     86832 non-null int64
Nom_mes                     86832 non-null object
Dia_mes                     86832 non-null int64
Hora_dia                    86832 non-null int64
Descripcio_torn             86832 non-null object
Descripcio_causa_mediata    86832 non-null object
Coordenada_UTM_Y            86832 non-null object
Coordenada_UTM_X            86832 non-null object
Longitud                    30426 non-null float64
Latitud                     30426 non-null float64
Carrer_Original             10343 non-null object
dtypes: float64(2), int64(4), object(17)
memory usage: 15.2+ MB

In [264]:
cause.drop(['Longitud','Latitud','Carrer_Original','Num_postal'],axis=1, inplace=True)

In [268]:
cause.drop('Descripcio_torn',axis=1, inplace=True)

In [269]:
cause.head()

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Descripcio_dia_setmana,Dia_setmana,Descripcio_tipus_dia,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_causa_mediata,Coordenada_UTM_Y,Coordenada_UTM_X
0,2010S006971,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,346402,Trinxant,Dijous,Dj,Laboral,2010,10,Octubre,14,20,No hi ha causa mediata,4.5854e+06,431941
1,2010S000574,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,161407,Ind£stria,Dilluns,Dl,Laboral,2010,1,Gener,25,7,No hi ha causa mediata,4.58516e+06,431472
2,2010S004580,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,161407,Ind£stria,Dijous,Dj,Laboral,2010,7,Juliol,1,20,No hi ha causa mediata,4.58503e+06,431348
3,2010S002999,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,297001,Sant Antoni Maria Claret,Dilluns,Dl,Laboral,2010,5,Maig,3,7,No hi ha causa mediata,4.5851e+06,431274
4,2010S007227,10,Sant Mart¡,64,el Camp de l'Arpa del Clot,134801,Freser,Dilluns,Dl,Laboral,2010,10,Octubre,25,9,No hi ha causa mediata,4.5848e+06,431492

In [270]:
cause.tail()

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Descripcio_dia_setmana,Dia_setmana,Descripcio_tipus_dia,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_causa_mediata,Coordenada_UTM_Y,Coordenada_UTM_X
86827,2018S005018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,700892,Litoral (Llobregat) ...,Divendres,Dv,Laboral,2018,6,Juny,29,13,No hi ha causa mediata,4.58473e+06,435017
86828,2018S005688,10,Sant Martí,70,el Besòs i el Maresme,701266,Litoral (Llobregat) ...,Dilluns,Dl,Laboral,2018,7,Juliol,23,10,No hi ha causa mediata,4.58473e+06,435017
86829,2018S007957,10,Sant Martí,70,el Besòs i el Maresme,701266,Litoral (Besòs) ...,Divendres,Dv,Laboral,2018,10,Octubre,19,19,No hi ha causa mediata,4.58473e+06,435033
86830,2018S005081,10,Sant Martí,70,el Besòs i el Maresme,701612,Fòrum ...,Dilluns,Dl,Laboral,2018,7,Juliol,2,8,No hi ha causa mediata,4.58488e+06,435046
86831,2018S008516,10,Sant Martí,70,el Besòs i el Maresme,701266,Litoral (Llobregat) ...,Dimecres,Dc,Laboral,2018,11,Novembre,7,7,No hi ha causa mediata,4.58492e+06,435086

In [271]:
cause.to_excel('cause_db.xlsx')

In [272]:
type_2018 = pd.read_csv('databases/accident_type/2018_accidents_tipus_gu_bcn_.csv')

In [274]:
type_2018.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [275]:
type_2017 = pd.read_excel('databases/accident_type/2017_accidents_tipus_gu_bcn_.xlsx')

In [277]:
type_2017.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [278]:
type_2016 = pd.read_excel('databases/accident_type/2016_accidents_tipus_gu_bcn_.xlsx')

In [280]:
type_2016.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_X',
       'Coordenada_UTM_Y', 'Longitud', 'Latitud']

In [281]:
type_2015 = pd.read_excel('databases/accident_type/2015_ACCIDENTS_TIPUS_GU_BCN_2015.xlsx')

In [283]:
type_2015.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X']

In [284]:
type_2014 = pd.read_excel('databases/accident_type/2014_ACCIDENTS_TIPUS_GU_BCN_2014.xlsx')

In [286]:
type_2014.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X']

In [287]:
type_2013 = pd.read_excel('databases/accident_type/2013_ACCIDENTS_TIPUS_GU_BCN_2013.xlsx')

In [289]:
type_2013.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X']

In [290]:
type_2012 = pd.read_excel('databases/accident_type/2012_ACCIDENTS_TIPUS_GU_BCN_2012.xlsx')

In [292]:
type_2012.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X']

In [293]:
type_2011 = pd.read_excel('databases/accident_type/2011_ACCIDENTS_TIPUS_GU_BCN_2011.xlsx')

In [295]:
type_2011.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X']

In [296]:
type_2010 = pd.read_excel('databases/accident_type/2010_ACCIDENTS_TIPUS_GU_BCN_2010.xlsx')

In [298]:
type_2010.columns = ['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal',
       'Descripcio_dia_setmana', 'Dia_setmana', 'Descripcio_tipus_dia',
       'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes', 'Hora_dia',
       'Descripcio_torn', 'Descripcio_tipus_accident', 'Coordenada_UTM_Y',
       'Coordenada_UTM_X']

In [300]:
type_df = pd.concat([type_2010,type_2011,type_2012,type_2013,type_2014,type_2015,type_2016,type_2017,type_2018],sort=False,ignore_index=True)

In [301]:
type_df.head()

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Descripcio_tipus_accident,Coordenada_UTM_Y,Coordenada_UTM_X,Longitud,Latitud
0,2010S006909,10,Sant Martí,64,el Camp de l'Arpa del Clot,134801,Freser,0176 0176,Dilluns,Dl,...,10.0,Octubre,11.0,20.0,Tarda,Atropellament,"4585312,47","431736,08",NaN,NaN
1,2010S006757,10,Sant Martí,64,el Camp de l'Arpa del Clot,226400,Las Navas de Tolosa,0329 0329,Dimarts,Dm,...,10.0,Octubre,5.0,16.0,Tarda,Col.lisió lateral,"4585527,16","431983,63",NaN,NaN
2,2010S005591,10,Sant Martí,64,el Camp de l'Arpa del Clot,297001,Sant Antoni Maria Claret,0268 0268,Divendres,Dv,...,8.0,Agost,13.0,15.0,Tarda,Xoc contra element estàtic,"4585099,31","431268,10",NaN,NaN
3,2010S008924,10,Sant Martí,64,el Camp de l'Arpa del Clot,161407,Indústria,0258 0258,Divendres,Dv,...,12.0,Desembre,24.0,14.0,Tarda,Col.lisió lateral,"4585137,05","431484,86",NaN,NaN
4,2010S000187,10,Sant Martí,64,el Camp de l'Arpa del Clot,350308,València,0589 0589,Dissabte,Ds,...,1.0,Gener,9.0,14.0,Tarda,Abast,"4584685,43","431964,34",NaN,NaN

In [302]:
type_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91584 entries, 0 to 91583
Data columns (total 22 columns):
Numero_expedient             91584 non-null object
Codi_districte               91583 non-null object
Nom_districte                91583 non-null object
Codi_barri                   91583 non-null object
Nom_barri                    91583 non-null object
Codi_carrer                  91583 non-null object
Nom_carrer                   86517 non-null object
Num_postal                   91580 non-null object
Descripcio_dia_setmana       91583 non-null object
Dia_setmana                  91583 non-null object
Descripcio_tipus_dia         91583 non-null object
NK_Any                       91583 non-null float64
Mes_any                      91583 non-null float64
Nom_mes                      91583 non-null object
Dia_mes                      91583 non-null float64
Hora_dia                     91583 non-null float64
Descripcio_torn              91583 non-null object
Descripcio_tipus_accident    91583 non-null object
Coordenada_UTM_Y             91583 non-null object
Coordenada_UTM_X             91583 non-null object
Longitud                     32254 non-null object
Latitud                      32254 non-null object
dtypes: float64(4), object(18)
memory usage: 15.4+ MB

In [303]:
type_df.drop(['Longitud','Latitud'],axis=1,inplace=True)

In [306]:
type_df.to_excel('types.xlsx')